<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>
</head>
<body>
    <h1>Welcom Express Form</h1>
    <form action="/frmData" method="post">
        Name: <input type="text" name="name" ><br>
        Dojo Location: <select name="dojLoc" >
            <option value=""></option>
            <option value="chicago">Chicago</option>
            <option value="boston">Boston</option>
            <option value="baghdad">Baghdad</option>
            <option value="california">California</option>
          </select><br><br>
        Favorite Language:<select name="favLang">
                <option value=""></option>

            <option value="javascript">JavaScript</option>
            <option value="python">Python</option>
            <option value="c++">C++</option>
            
          </select><br> 
          
        Comment (optional): <br> <input type="text" name="comment" style="height: 50px;" ><br>
        <button type="submit">Submit</button>
    </form>

</body>
</html>

